<footer class="footer hero <%= color %> is-bold has-strong-bottom-shadow">
    <div class="content">
        <p>&copy; 2020 <strong>jaqreven</strong> / emilia repo<br />
        website licensed under the <strong>mit license</strong></p>
    </div>
</footer>