<footer class="footer hero <%= color %> is-bold has-strong-bottom-shadow">
    <div class="content">
        <p>&copy; 2020 <strong>emialis</strong> / emilia repo<br />
        website licensed under the <strong><a target="_blank" href="https://github.com/emiliarepo/emialis.com">mit license</a></strong></p>
    </div>
</footer>