<div class="modal modal-fx-fadeInScale" id="modal">
    <div class="modal-background" onclick="closeThumbnail()"></div>
    <div class="modal-content">
        <p class="image">
            <img src="image" alt="" id="modal-image">
        </p>
        <div class="artist-credit">
            <p>by <strong><a id="modal-link" href="link" target="_blank">username</a></strong></p>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="closeThumbnail()"></button>
</div>

<script>

    function openThumbnail(imageUrl, name, artistUrl) {
        document.getElementById("modal-image").src = imageUrl;
        const link = document.getElementById("modal-link");
        link.textContent = name;
        link.href = artistUrl;
        document.getElementById("modal").classList.add("is-active");
    }

    function closeThumbnail() {
        document.getElementById("modal").classList.remove("is-active");
    }

</script>