<!doctype html>

<html lang="en">

<head>

    <%- include('components/metatags', {
        title: "error " + errorNum + " - emialis",
        description: errorMsg,
        image: "https://emialis.com/images/assets/error.jpg?dim=420"
    }) %>

</head>

<body>
    <%- include('components/header', {
        title: `error ${errorNum}: ${errorMsg}`,
        subtitle: description,
        icon: "/images/assets/error.jpg?dim=420",
        color: "is-danger"
    }) %>

    <section class="section has-bottom-shadow min-height">
        <div class="container">
            <h1 class="title">
                contact me?
            </h1>
            <%- include('components/cardview', {
                contentId: "contacts",
                cards: [{
                    "title": "twitter",
                    "description": "emialis_",
                    "image": "/images/assets/twitter.png",
                    "square": false,
                    "link": "https://twitter.com/emialis_",
                    "newTab": true
                }]
            }) %>
        </div>
    </section>

    <%- include('components/footer', {
        color: "is-danger",
        socials: socials
    }) %>

    <script>
        function move(element, back) {
            element.parentElement.parentElement.parentElement.querySelector('.card-view').scrollBy({
                top: 0,
                left: back ? -320 : 320,
                behavior: 'smooth'
            })
        }
        const elements = ["contacts"];
        elements.forEach(elementId => {
            const element = document.getElementById(elementId);
            console.log(element.scrollWidth + " " + element.parentElement.scrollWidth)
            if (element.scrollWidth <= element.parentElement.scrollWidth) {
                element.parentElement.querySelector(".scroll-button-wrapper").classList.add("is-hidden");
            }
        })
    </script>
</body>

</html>