.is-192x192 {
    height: 192px;
    width: 192px;
}

.object .has-shadow {
    -webkit-box-shadow: 0px 30px 45px -15px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 30px 45px -15px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 30px 45px -15px rgba(0, 0, 0, 0.3);
}

.has-bottom-shadow {
    -webkit-box-shadow: inset 0px -15px 45px -30px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: inset 0px -15px 45px -30px rgba(0, 0, 0, 0.20);
    box-shadow: inset 0px -35px 45px -30px rgba(0, 0, 0, 0.20);
}

.card-view {
    min-width: 100%;
    padding: 0px 20px 30px 20px;
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.card-view::-webkit-scrollbar {
    display: none;
}

.card-view> :last-child {
    min-width: 20px !important;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.card {
    min-width: 300px;
    max-width: 300px;
    margin: 10px;
    border-radius: 8px;
}

.card-image .image img {
    border-radius: 8px 8px 0px 0px;
}

.scroll-button-wrapper {
    left: 15px;
    position: absolute;
    bottom: 7px;
    z-index: 2;
}

.card a {
    text-decoration: none;
    color: inherit;
}

.is-small .hero-body {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.is-thumbnail img {
    object-fit: cover;
    height: 100%;
}

body {
    background-color: #f5f5f5;
}

.min-height {
    min-height: 80vh;
}

.footer .content p strong {
    color: white;
}