/* set light mode color as default value */
:root {
    --bg-color: #f3f3f3;
    --card-background: #f7f7f7;
    --title-color: #363636;
    --text-color: #4a4a4a;
    --shadow-opacity: 0.25;
    --lighter-shadow-opacity: 0.25;
}

/* switch to dark mode color */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1d1d1d;
        --card-background: #0e0e0e;
        --title-color: #f0f0f0;
        --text-color: #e4e4e4;
        --shadow-opacity: 0.5;
        --lighter-shadow-opacity: 0.35;
    }
}

.is-192x192 {
    height: 192px;
    width: 192px;
}

.object .has-shadow {
    box-shadow: 0px 30px 45px -15px rgba(0, 0, 0, var(--lighter-shadow-opacity));
}

.has-bottom-shadow {
    box-shadow: inset 0px -25px 45px -30px rgba(0, 0, 0, var(--lighter-shadow-opacity));
}

.has-strong-bottom-shadow {
    box-shadow: inset 0px -25px 45px -30px rgba(0, 0, 0, var(--shadow-opacity));   
}

.card-view {
    min-width: 100%;
    padding: 0px 20px 30px 20px;
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.card-view::-webkit-scrollbar {
    display: none;
}

.card-view> :last-child {
    min-width: 20px !important;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.card {
    min-width: 300px;
    max-width: 300px;
    margin: 10px;
}

.card, .gallery-image, .gallery-image .image img {
    border-radius: 8px;
}

.card-image .image img, .modal-content {
    border-radius: 8px 8px 0px 0px;
}

.modal-card {
    border-radius: 0px 0px 8px 8px;
}

.modal-content {
    background-color: var(--card-background);
    max-height: 80vh;
}

.home-button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0px 0px 0px 8px;
    font-size: 1.3rem;
}

.card, .gallery-image {
    background-color: var(--card-background);
    box-shadow: 0px 25px 35px -25px rgba(0, 0, 0, var(--shadow-opacity));
}

.grow {
    transition: all .2s ease-in-out;
}
.grow:hover {
    transform: scale(1.02)
}

.card-view .grow:hover, .gallery-image-parent .grow:hover {
    box-shadow: 0px 28px 28px -20px rgba(0, 0, 0, var(--shadow-opacity));
}

.scroll-button-wrapper {
    left: 15px;
    position: absolute;
    bottom: 7px;
    z-index: 2;
}

.card a {
    text-decoration: none;
    color: inherit;
}

.is-small .hero-body {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.is-thumbnail img, .is-192x192 img {
    object-fit: cover;
    height: 100%;
}

body {
    background-color: var(--bg-color);
}

section .title, .card-content .content .title {
    color: var(--title-color);
}

.section .subtitle, .section p, .card-content .content {
    color: var(--text-color);
}

.min-height {
    min-height: 80vh;
}

.footer .content p strong {
    color: white;
}

.right-side {
    object-position: 100% 50%;
}

.left-side {
    object-position: 0% 50%;
}

.top-side {
    object-position: 50% 0%;
}

.bottom-side {
    object-position: 50% 100%;
}

.is-pink {
    background-color: #e99fd9;
    color: white;
}

.is-purple {
    background-color: #9248e6;
    color: white;
}

.is-cyan {
    background-color: #7ee2da;
    color: white;
}

.is-white {
    color: white !important;
}